@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    
}

body{
    background-color: rgb(230, 230, 230);
}

.flex{
    display: flex;
}
.items-center{
    align-items: center;
}
.justify-between{
    justify-content: space-between;

}

.flex-1{
    padding: 25px 100px;
}

.justify-center{
    justify-content: center;
}

body{
    /* font-family: 'Poppins', sans-serif; */
    overflow-x: hidden;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    --webkit-font-smotting:antialiased;
}

.details p{
    padding: 15px; 
 
    margin-left: 120px;
}
.details h3{
    padding: 15px; 
 
    margin-left: 120px;
}
.details a{
    padding: 15px; 
    text-decoration: none;
    margin-left: 120px;
}

.btn{
    padding: 0.8rem 3rem;
    font-size: 1rem;
    font-weight: 600;
    border: 2px solid transparent;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: all .3s ease;
    margin-left: 600px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 5px;
    box-shadow: 1px 1px 10px 2px #0000007c;
}

.btn:hover{
    cursor: pointer;
    color: rgb(118, 185, 118);
}






/* project section starts */

.project{
    width: 100%;
    
}
.card-body{
    display: grid;
    padding: 30px 120px;
    grid-template-columns: repeat(3,1fr);
}
.card{
    padding: 14px;
    margin: 20px;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    flex-direction: column;
    box-shadow: 1px 1px 10px 2px #0000007c;
    transition: .9s all ease;
}
.project-img img{
    width: 100%;
    max-height: 400px;
    display: block;
}

.project h1{
    font-size: 2rem;
    color: rgb(33, 170, 124);
}



/* project section ends*/




@media only screen and (max-width:540px) {

    /* project Section*/
    .card-body{
        display: block;
        padding: 30px 40px;
    }

    .btn{
       margin-left: 115px;
    }
    .details p{
        margin-left: 15px;
    }
  
 
  

  



  

}
